body, html {
    background-color: white;
}

/* Navbar Items */
.img-mail {
    height: 2.6vh;
    width: 1.2vw;
}

.img-bell {
    height: 2vh;
    width: 1vw;
}

.img-user {
    height: 2vh;
    width: 1vw;
}

/* Search */
.search-bar {
    display: flex;
    align-items: center;
    border-radius: 20px 20px 20px 0; /* Adjust the values as needed */
    /* overflow: hidden; */
}

.search-bar .form-control {
    width: 400px; /* Adjust the width as needed */
}
  
.search-bar .dropdown-toggle {
    border-radius: 20px 0 0 20px; /* Match the outer container's border radius */
    background-color: transparent;
    color: black;
}

.dropdown-toggle {
    border-color: #c5c5c5;
}

.search-bar input {
    border-left: none;
    border-radius: 0 20px 20px 0;
}

/* Share Your Work */
.btn-primary {
    border-color: #c5c5c5;
    color: black;
}

.btn-primary:hover {
    color: black;
    border-color: #c5c5c5;
    background-color: transparent; /* Change the background color to your desired hover color */
}

.btn-upload {
    border-radius: 20px; /* Adjust the value to control the curvature */
    background-color: transparent
}

.upload-cont {
    margin-left: 2vw;
    margin-right: 2vw;
}

/* Card */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the cards horizontally */
    gap: 2vw; /* Adjust the gap value as needed */
    margin-top: 5vh;
}